.wrap{
    --pcolor: #1b1b1b;

    font-size: 20px;
    color: var(--pcolor);
    padding: 20px 20px 80px;
    

    .container{
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex{
        display: flex;
       
    }
    a, button{
        cursor: pointer;
        transform: translateY(0);
        transition: all .4s ;

        &:hover{
            
            transform: translateY(-3px);
        }
    }

    button{
        padding: 12px 24px;
        border: 1px solid transparent;
        outline: none;
        border-radius: 8px;
        @extend .flex;
        gap: 12px;
        font-size: 16px;
        font-weight: 600;
        
        &.primary{
              background-color: var(--pcolor);
              color: #fff;

              svg{
                fill:#fff ;
                width: 18px;
              }

              &:hover{
                background-color: transparent;
                color: var(--pcolor);
                border: 1px solid var(--pcolor);

                svg{
                    fill: var(--pcolor);
                }
              }
        }
    }
    header{
        padding: 20px 0;
        font-weight: 600 ;
        align-items: center;

        .menu{
            @extend .flex;
            gap:30px;

            a{
                border-bottom: 1px solid transparent;
                padding-bottom: 4px;
                transition: all .4s ;
                align-items: center;
                transform: translateY(0);

                &:hover, &.active{
                    border-bottom:1px solid var(--pcolor);
                }
                &:hover{
                    transform: translateY(-5px);
                }

                &.border0{
                    border: 0;
                }
               
                svg{
                    width: 22px;
                    height: 22px;
                }

                &.theme{
                    background-color: var(--pcolor);
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    padding: 2px;
                    @extend .flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }

            }

        }

        .logo{
            background-color: var(--pcolor);
            padding: 18px;
            border-radius: 48%;
            color: #fff;
            font-size: 24px;
            font-weight: 800;
            cursor: pointer;
        
           


            &:hover{
                animation: bg-anim 2s linear infinite ; 
            }
        }
    }

    .content{


        h1{
            margin: 0 0 20px;
            font-size: 70px;
            line-height: 65px;

        }
        h2{
            margin: 0;
            font-size: 55px;
        }

        .text-right{
            text-align: right;
        }

       

        p{
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            margin: 0 0 30px;

            &.fs14{
                font-size: 14px;
            }
        }

        .label{

        }

        .profile{
            display: block;
            max-width: 90%;
            height: auto;
            border-radius: 15px;
            box-shadow: #ff00ea 0px 0px 20px 0px, #ffd900 0px 0px 20px 0px, rebeccapurple 0px 0px 20px 0px;
          }

        .btn-wrap{
            @extend .flex;
            gap: 20px;
            align-items: center;

            a{
                font-size: 16px;
                font-weight: 600;
                text-decoration: underline;  
            }

        }

        .bulb{
            position: absolute;
            right: 100px ;
            bottom: 100px;
            /* tran property removed as it is incomplete */
            animation: zoomPulse 2s ease-in-out infinite;

        }

        @keyframes zoomPulse {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
        }
        
        

        .hire-me{
            position: absolute;
            left: 46px;
            bottom: 35px;
            display: flex;
            align-items: center;

            svg{
                width: 160px;
                height: fit-content;
                animation: rotate-anim 5s linear infinite;
            }

            div{
                background-color: var(--pcolor);
                 color: #fff;
                 font-weight: 600;
                 width: 80px;
                 height: 80px;
                 border-radius: 50%;
                 display: flex;
                 align-items: center;
                justify-content: center;
                font-size: 18px;
                position: absolute;
                left: 50%;
                transform: translate(-50%,0px);

            }
 
        }

        h5{
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 20px;
        }

        .border{
             border: 1px solid var(--pcolor);
                padding: 24px;
                border-radius: 8px;
                box-shadow: 12px 12px 0px var(--pcolor);

                img{
                    border-radius: 8px;
                }
        }

        h3{
            font-size: 40px;
            font-weight: 600;
            margin: 0 0 20px;
        }

        ul{
            padding: 0;
            margin: 0;
            @extend .flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li{
                background-color: var(--pcolor);
                list-style-type: none;
                color: #fff;
                padding: 8px 20px;
                border-radius: 8px;
                font-weight: 600;
            }
        }
    }
}

@keyframes rotate-anim{

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 

@keyframes bg-anim{

    0%{
        background-color: #ff00ea;
    }
    50%{
        background-color: #ffd900;
    }
    100%{
        background-color: rebeccapurple;
    }
}
@media(max-width:959px){

    .wrap{
        .content{
            h1{
                font-size: 50px;
                line-height: 50px;
               }
        }
    }        

}

@media(max-width:599px){
    .wrap{
        .content{
            h1{
                font-size: 40px;
                line-height: 40px;
            }

            h2{
                font-size: 36px;
            }

            .hire-me{
                
                right: 20px;
                left: auto;
            
                
                svg{
                    width: 125px;
                }

                div{

                    width: 60px;
                    height: 60px;
                    font-size: 10px;
              
                }
            }

            ul{
                align-items: start;
                justify-content: start;
            }
        }
    }
}